{
  "presets": [
    ["@babel/preset-env",
    {
      "useBuiltIns": "entry",
      "corejs": "3"
    }]
  ],
  "plugins": [
    [
      "@quickbaseoss/babel-plugin-styled-components-css-namespace",
      {"cssNamespace": "&&&"}
    ],
    ["babel-plugin-styled-components", {
      "namespace": "keen-explorer",
      "minify": true,
      "transpileTemplateLiterals": true
    }]
  ]
}