{
  "presets": [
    ["env", {
      "production": {
        "targets": {
          "browsers": ["last 3 versions", "safari >= 7"]
        },
        "modules": false,
      },
      "development": {
        "targets": {
          "browsers": ["last 3 versions", "safari >= 7"]
        },
        "modules": false,
      },
      "test": {
        "plugins": ["transform-es2015-modules-commonjs"]
      }
    }],
    "react"
  ],
  "plugins": ["transform-object-rest-spread"]
}
