# This file is used by:
# 1. PostCSS to adjust CSS to support the below specified browsers
# 2. babel preset-env to adjust included polyfills

# If you need to support different browsers in production, you may tweak the list below.

> 0.2%
IE 11
not dead
not op_mini all
