*.log
*.md
*.yml

.awspublish-keen-js
.DS_Store
.git*
.pairs
.tmp*

bower.json
gulpfile.js
bower.json
gulpfile.js
.babelrc
test
.travis.yml
circle.yml
jest.config.js
replace-config.js
webpack.config.js
.eslintrc
.eslintignore

dist/keen-explorer.bundle.js
dist/keen-explorer.bundle.js.map
dist/*.html
dist/assets

node_modules
test
