/*
 * Keen Data-Tools project. Made with <3 by Keen.io (https://keen.io/)
 */

// Vendor
@import "vendor/pickadate/classic";
@import "vendor/pickadate/classic-date";
@import "vendor/pickadate/classic-time";

body.keen-explorer {
  background: #FBFBFB;
}

// Scope all styles under "#keen-explorer" to reduce conflicts.
#keen-explorer {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  position: relative;

  // Base CSS
  @import "bootstrap-extend";
  @import "typography";
  @import "colors";
  @import "forms";
  @import "helpers";

  // Common Components
  @import "loader";
  @import "favorites";
  @import "event-browser";
  @import "fields-toggle";
  @import "react-select";
  @import "interactive-list";

  // Components
  @import "dashboard";
  @import "explorer";
  @import "visualization";
  @import "code-sample";
  @import "filters";
  @import "timeframe";

  margin: 20px auto 0px auto;
  width: 90%;

  #nav {
    border-bottom: 1px solid #DDD;
    padding-bottom: 20px;
    overflow: hidden;
  }

  .no-padding {
    padding: 0;
  }

  .no-padding-left {
    padding-left: 0;
  }

  .no-padding-right {
    padding-right: 0;
  }

  #content {
    padding: 0;

    header {
      height: 55px;
      padding: 10px 0;
      background: #FBFBFB;

      h2 {
        font-size: 24px;
        line-height: 35px;
        margin: 0;
      }
    }

    section {
      padding: 20px 0;
    }

  }

  .btn .icon,
  h1 .icon,
  h2 .icon,
  h3 .icon,
  h4 .icon,
  .nav-tabs li a .icon,
  .alert .icon {
    margin-right: 8px;
  }

  .icon.no-margin {
    margin: 0;
  }

  .btn-default .icon {
    color: #666;
  }

  .block {
    display: block;
  }

  .btn-icon {
    .icon {
      text-align: center;
      margin: 0;
      top: 2px;
    }
  }

  .tooltip {
    z-index: 1040;
  }
}