section.dashboard {
  min-height: 918px;

  .dashboard-item {
    background: #FAFAFA;
    border: 1px solid #DDD;
    height: 200px;

    padding-top: 70px;
    text-align: center;
    color: #999;
    font-size: 18px;
  }

  .row {
    margin-bottom: 20px;
  }

}