.explorer {
  position: relative;
}

.modular-section {
  border: 1px solid #DDD;
  border-radius: 4px;
  background: #FFF;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.modular-section-body {
  padding: 5px;
}

.content-wrap {
  position: relative;
  border: 1px solid #DDD;
  border-radius: 3px;
  background: #FFFFFF;
}

.notice {
  padding: 5em 0em;
  text-align: center;
  width: 100%;
  color: #555;
  font-size: 24px;
  font-weight: 300;

  i.error {
    top: 3px;
    margin-right: 15px;
  }
}

.query-pane-tabs {
  margin-bottom: 15px;

  li {
    width: 50%;
    text-align: center;
  }
}