.field-component {
  margin: 0 0 15px;
}

.form-collapse-right {
  padding-right: 0;
}

.form-collapse-left {
  padding-left: 0;
  margin-left: -1px;
}

label {
  font-size: 16px;
  color: #536779;
}

label.valign {
  line-height: 30px;
}

.input-group-btn .btn {
  &:focus, &:active {
    outline: none;
  }
  i {
    margin: 0;
    top: 2px;
  }
}

.btn {
  border-radius: 2px;
}

.btn-default {
  border-color: #d7d7d7;
}

.btn-primary {
  background-color: #00bbde;
  border-color: transparent;
  color: #fff;
  &:focus, &:hover {
    background-color: #0099b6;
  }
}

.run-query {
  margin-left: 10px;
}

// *************************
// Pickadate custom styling.
// *************************

.datepicker-wrapper, .timepicker-wrapper {
  position: relative;
}

.picker {
  min-width: 350px;
}

// Time picker specific styling

.picker.picker--time {
  .picker__holder {
    width: 80px;
  }
  .picker__list {
    height: 120px;
  }
}

.picker__list-item {
  padding: 4px 6px;
}


button.field-secondary-control {
  color: #808080;
  font-size: 12px;
  padding: 8px 8px 8px 0;
  span.icon {
    margin-right: 2px;
  }
}

.explorer-api-url {
  button, input {
    margin: 0 0 10px;
  }
}


// *************************
// Custom fieldset divider
// *************************

hr.fieldset-divider {
  border-bottom: 1px solid rgba(0,0,0,.1);
  border-top: 1px solid #fff;
}

.search-box {
  border: 1px solid #d7d7d7;
  border-radius: 2px;
  height: 32px;
  margin: 0 0 10px;
  position: relative;

  input {
    background-color: transparent;
    border: none;
    height: 32px;
    line-height: 32px;
    padding: 0 10px 0 35px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .icon {
    color: #a7a7a7;
    font-size: 16px;
    left: 10px;
    margin-top: 8px;
    position: absolute;
  }
}
