h1, h2, h3, h4, h5 {
  color: #2A333C;
  font-family: "Gotham Rounded A", "Gotham Rounded B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

a {
  &:hover, &:focus {
    text-decoration: none;
  }
}

label {
  font-family: "Gotham Rounded A", "Gotham Rounded B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.callout {
  border-radius: 4px;
  border: 1px solid #DDD;
  border-left-color: #56C0E0;
  border-left-width: 5px;
  padding: 10px 20px 10px 10px;
  background: #FFF;

  h4 {
    margin-top: 0;
    color: #3A87AD;
  }
  p {
    font-size: 16px;
    color: #888;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.help-block {
  font-size: 12px;
  font-style: italic;
  margin: 10px 0 0;
}

.subdued {
  color: #999;
}