.viz-area {
  position: relative;
  padding-top: 10px;
}

.chart-area {
  position: relative;

  .loader {
    border-radius: 3px;
  }
}

.chart {
  position: relative;

  .keen-metric {
    margin: 15px;
  }

  .google-visualization-table {
    padding: 0;
    width: 100%;
  }
}

.big-notice {
  padding: 5em 2em;

  .alert {
    font-size: 22px;
    text-align: center;
  }
}

.alert-small {
  padding: 5px 10px;
}

textarea.json-view {
  border-radius: 4px;
  padding: 30px;
  height: 350px;
  border: none;
  display: block;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  width: 100%;
  resize: none;

  &:focus {
    outline: 0;
  }
}

.run-query {
  margin-right: 8px;
}

.code-sample-toggle {
  color: #333333;
  font-weight: 700;
}

.code-sample-toggle.open {
  background-color: #333333;
  color: #e6e6e6;
}
