.explorer-visualization {
  position: relative;
}

.chart-area {
  position: relative;

  .loader {
    border-radius: 3px;
  }
}

.visualization-wrapper {
  background: #fff;
  border: 1px solid rgba(0,0,0,.07);
  // border-radius: 3px;
  margin: 0 0 10px;
  padding: 10px;
  position: relative;
  .btn, select {
    color: #4d4d4d;
    font-size: 12px;
    padding: 8px 14px;
  }
  .alert {
    font-size: 12px;
  }
}

.extraction-message-component {
  position: relative;
  .alert {
    border-bottom: 1px solid #d7d7d7;
    border-radius: 0;
    margin: 0 0 10px 0;
    min-height: 46px;
    padding: 0 164px 8px 0;
    span.icon {
      float: left;
      font-size: 24px;
      margin: 5px 10px 0 5px;
    }
  }
  .btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}

.chart-component {
  // margin: 10px 0 0;
}

.chart {
  position: relative;

  .keen-metric {
    margin: 15px;
  }
}

.chart-options {
  // .clearfix();
  border-top: 1px solid #d7d7d7;
  margin: 10px 0 0;
  padding: 10px 0 0;

  select {
    margin-top: 1px;
  }

  .code-sample-toggle {
    &.open {
      background-color: #d7d7d7;
    }
  }
}

.big-notice {
  padding: 5em 2em;

  .alert {
    font-size: 22px;
    text-align: center;
  }
}

.alert-small {
  padding: 5px 10px;
}

textarea.json-view {
  background-color: #f5f5f5;
  border: none;
  border-radius: 2px;
  color: #4d4d4d;
  display: block;
  font-size: 12px;
  line-height: 1.5;
  min-height: 400px;
  padding: 15px;
  resize: none;
  word-break: break-all;
  word-wrap: break-word;
  width: 100%;

  &:focus {
    outline: 0;
  }
}

.run-query {
  margin-right: 8px;
}

.code-sample-toggle {
  color: #333333;
  font-weight: 700;
}

.code-sample-toggle.open {
  background-color: #333333;
  color: #e6e6e6;
}

.data-table {
  display: block;
  font-family: "Gotham Rounded A", "Gotham Rounded B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-height: 450px;
  overflow-y: auto;
  word-wrap: break-word;

  thead {
    background: #fff;
    border-bottom: 2px solid #ddd;
    height: 36px;
    position: fixed;
    top: 0px;
    width: 100%;

    th {
      border: none;
    }
  }

  tbody {
    border-top: 25px solid transparent;

    tr {
      &.even {
        background: #F2F2F2;
      }
      td {
        max-width: 300px;
      }
    }
  }
}
