.navbar-static {
  background-color: #00bbde;
}

.navbar-static a {
  color: #ffffff;
}

.preset-wrapper {
  width: 90%;
  padding: 0;  
  margin: 20px auto 0 auto;
}

.explorer-preset {
  border: 1px solid #00bbde;
  border-radius: 6px;
  padding: 18px;
  color: #000;
  transition: all .15s;
  display: block;
}

.explorer-preset: first-child {
  margin-left: 0;
}

.explorer-preset:last-child {
  margin-right: 0;
}


.explorer-preset:hover {
  text-decoration: none;
  background-color: #EDF4F5;
}

.explorer-preset h3 {
  margin: 0 0 2px 0;
}

.preset-description {
  font-style: italic;
  font-size: 12px;
}
