body{
  margin: 2rem auto;
  width: 80%;
  font-family: Montserrat, Tahoma, Arial;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.extraction{
  margin-top: 1rem;
}

.extraction .first-label{
    padding-top: 0;
  }

.extraction .input-text{
    width: 100%;
  }

.filters-container .list{
    margin: 2rem 0;
    width: 100%;
  }

.filters-container .list .row{
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      margin: 0 0 1rem;
    }

.filters-container .list .row .row-part{
        -ms-flex:1;
            flex:1;
        padding: 0 0.5rem;
      }

.filters-container .list .row .row-part input{
          padding: 0.55rem 0.7rem;
          font-size: 1rem;
          border-radius: 4px;
          border: 1px solid #aaa;
          width: 100%;
        }

.filters-container .list .row .row-part .delete{
          cursor: pointer;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
              align-items: center;
          height: 100%;
          font-size: 1.2rem;
        }

.filters-container .list .row .row-part .delete i {
            color: #ea7373;
          }

.filters-container .list .row .no-flex{
        -ms-flex: 0;
            flex: 0;
      }

.filters-container .list .button-add-filter{
      margin: 0.5rem;
      cursor: pointer;
      padding: 1rem 2rem;
      background: #eee;
      float: left;
      border-radius: 0.3rem;
    }

.filters-container .list .button-add-filter i {
        margin-right: 1rem;
      }

.modal{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  width: 100%;
}

.modal .header{
    -ms-flex:0;
        flex:0;
    border-bottom: 1px solid #eee;
    padding-bottom: 1rem;
  }

.modal .header .title{
        float: left;
      }

.modal .header .x{
        color: #565656;
        float: right;
        font-weight: bold;
        cursor: pointer;
        padding: 1rem;
        margin: -2rem -1rem;
        font-size: 2rem;
      }

.modal .container{
    -ms-flex:1;
        flex:1;
    padding: 1rem 0;
    clear: both;
    width: 100%;
    overflow-y: scroll;
    white-space: pre-wrap;
  }

.modal .button-copy{
    padding: 1rem;
    width: 10rem;
    text-align: center;
    cursor: pointer;
    background: #1e93d8;
    color: #fff;
    border-radius: 0.5rem;
    margin-top: 1rem;
  }

.modal .button-copy:active{
    background: #30a1e4;
  }

.saved-query {
  margin: 1rem 0;
  border: 1px solid #e8e8e8;
  background: #fcfcfc;
  padding: 1rem;
  border-radius: 0.3rem;

}

.saved-query .input-name {
    font-size: 1rem;
    padding: 1rem;
    border-radius: 0.3rem;
    border: 1px solid #e8e8e8;
    width: 100%;
  }

.saved-query .resource-name{
    padding: 1rem 0 0;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
  }

.saved-query .resource-name .line {
      -ms-flex: 1;
          flex: 1;
      white-space: nowrap;
    }

.saved-query .resource-name .line span{
        white-space: nowrap;
        overflow: hidden;
        -ms-flex: 1;
            flex: 1;
      }

.saved-query .resource-name .line i {
        -ms-flex: 0;
            flex: 0;
        color: #009ebb;
      }

.saved-query .resource-name .line-label{
      -ms-flex: 0;
          flex: 0;
      margin-right: 0.5rem;
    }

.saved-query .resource-name a {

    }

.saved-query .cache {
    padding: 1rem 0 0;
    max-width: 12rem;
  }

.saved-query .cache .cache-toggle{
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      cursor: pointer;
      color: #128296;
    }

.saved-query .cache i {
      font-size: 1.3rem;
      margin-right: 0.6rem;
    }

.saved-query .cache .fa-toggle-off{
      color: #7b7b7b;
    }

.saved-query .cache .cache-refresh{
    }

.saved-query .button-copy{
    padding: 1rem;
    right: 0;
    bottom: 0;
    border: 0;
    cursor: pointer;
    display: inline;
  }

.saved-query .buttons * {
      margin-top: 1rem;
      padding: 1rem 2rem;
      font-size: 1rem;
      border-radius: 0.3rem;
      cursor: pointer;
    }

.saved-query .buttons .button-save{
      color: #108196;
      border: 1px solid #009ebb;
    }

.saved-query .buttons .button-clone{
      margin-left: 1rem;
    }

.saved-query .buttons .button-delete{
      float: right;
      color: #c50d0d;
    }

.saved-query .button-copy:active{
    background: #fff;
  }

.saved-queries{
  overflow: scroll;
  max-height: 100%;
}

.saved-queries .input-filter{
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #eee;
    margin: 0 0 -1px;
  }

.saved-queries .item{
    padding: 1.2rem;
    cursor: pointer;
    overflow: auto;
    border: 1px solid #eee;
    margin-bottom: -1px;
  }

.saved-queries .item .name{
      margin: 0 0 0.5rem;
    }

.saved-queries .item .cached{
      float: left;
      font-size: 0.7rem;
    }

.saved-queries .item .data{
      float: right;
      font-size: 0.7rem;
    }

.saved-queries .active{
    background: #f7f7f7;
  }

button{
  margin: 2rem 0 0;
  padding: 1rem;
}

.label{
  padding: 1rem 0 0.5rem;
}

.hide{
  display: none;
}

.keenExplorer{
  display: -ms-flexbox;
  display: flex;
}

.keenExplorer .panel{
    -ms-flex: 1;
        flex: 1;
  }

.keenExplorer .panel-buttons .button-new-query{
      -ms-flex: none;
          flex: none;
      cursor: pointer;
    }

.keenExplorer .panel-buttons .button-new-query i{
        
      }

.keenExplorer .result{
    -ms-flex: 2;
        flex: 2;
    padding: 0 1.5rem;
    overflow: hidden;
  }

.keenExplorer .keen-dataviz-container{
    height: calc(100% - 3rem);
    overflow: hidden;
  }

.keenExplorer .foldable{
    margin-top: 0.5rem;
    border: 1px solid #e8e8e8;
    background: #fdfdfd;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
  }

.keenExplorer .foldableActive{
      background: none;
    }

.keenExplorer .foldable .title{
      padding: 0.5rem;
    }

.keenExplorer .foldable .title .icon{
        float: right;
      }

.keenExplorer .foldable .content{
      margin-top: 0.5rem;
    }

.keenExplorer .foldable .tab-content{
      border: 0;
    }

.keenExplorer .filters{
    display: -ms-flexbox;
    display: flex;
  }

.keenExplorer .filters .title{
      -ms-flex: 1;
          flex: 1;
    }

.keenExplorer .filters .count{
      -ms-flex-item-align: center;
          align-self: center;
      text-align: right;
      padding: 0 0.5rem 0 0;
    }

.keenExplorer .optional{
    margin-left: 1em;
    font-size: 0.7em;
    color:#ddd;
    color: #737373;
  }

.keenExplorer .groupBy .label{
      padding: 0 0 0.5rem;
    }

.keenExplorer .groupBy .btnPlus, .keenExplorer .groupBy .btnMinus{
      margin-top: 1rem;
      padding: 0.7rem;
      background: #fdfdfd;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      display: inline-block;
    }

.keenExplorer .groupBy .options{
      margin-top: 1rem;
      display:-ms-flexbox;
      display:flex;
    }

.keenExplorer .groupBy .options .orderBy{
        width: 8em;
        padding-right: 1rem;
      }

.keenExplorer .groupBy .options .orderBy .select{
          width: 100%;
        }

.keenExplorer .groupBy .options .limit{
        width: 8em;
      }

.keenExplorer .groupBy .options .limit .input{
          width: 100%;
        }

.keenExplorer .groupBy .additionalTargetProperty{
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid #f1f1f1;
    }

.keenExplorer .lets-go{
    display:-ms-flexbox;
    display:flex;
    width:100%;
    height:300px;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    background-color: #dff3f8;
    border-color: transparent;
    color: #207690;

    background-color: #fff;
    border-color: transparent;
    color: #207690;
    font-size: 2rem;
    border: 1px dashed #ccc;
  }

.tabs{
  display:-ms-flexbox;
  display:flex;
}

.tabs .tab{
    -ms-flex: 1;
        flex: 1;
    padding: 1rem;
    background: #fafafa;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    border-radius: 5px 5px 0 0;
  }

.tabs .active{
    background: #fff;
    border-bottom: 1px solid #fff;
  }

.tab-content{
  padding: 1rem;
  border: 1px solid #e8e8e8;
  border-top: none;
}

.inputNumber{
  font-size: 1rem;
  padding: 0.5rem 0.6rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-weight: 400;
}

.input-text{
  font-size: 1rem;
  padding: 0.5rem 0.6rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-weight: 400;
}

.interval .standardUnits{
    width: 10rem;
  }

.interval .line{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
  }

.interval .line .title{
      margin-right: 1rem;
    }

.interval .line .inputNumber{
      width: 4rem;
      margin-right: 0.5rem;
    }

.interval .line .timeUnits{
      width: 10rem;
    }

.timeframe{
  margin-bottom: 0.5rem;
}

.timeframe .relative{
    display:-ms-flexbox;
    display:flex;
  }

.timeframe .relative .relativity, .timeframe .relative .inputNumber{
      margin-right:0.5rem;
    }

.timeframe .relative .relativity{
      width:100%;
      max-width:12rem;
    }

.timeframe .relative .units{
      width:100%;
      max-width:12rem;
    }

.timeframe .description{
    margin-top: 0.5rem;
    padding: 1rem;
    background: #fafafa;
  }

.timeframe .tabAbsolute .DateRangePickerInput_arrow{
      display: none;
    }

.timeframe .tabAbsolute .DateInput {
      width: 8rem;
      background: none;
    }

.timeframe .tabAbsolute .DateInput_input {
      padding: 0.5rem;
      font-size: 1rem;
      line-height: normal;
      color:#000;
      font-weight: normal;
      border-radius: 5px;
    }

.timeframe .tabAbsolute .rc-time-picker-input{
      font-size: 1rem;
      line-height: normal;
      font-weight: normal;
      color: #000;
      height: 2.4rem;
      width: 7rem;
      border-radius: 5px;
    }

.timeframe .tabAbsolute .line{
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      margin: 0.5rem;
    }

.timeframe .tabAbsolute .line .title{
        width: 4rem;
      }

.timeframe .tabAbsolute .line .SingleDatePicker {
        margin-right: 0.5rem;
      }

.timeframe .tabAbsolute .line .SingleDatePickerInput__withBorder {
        border-radius: 5px;
        border: 1px solid #dbdbdb;
      }

.rc-time-picker-panel .rc-time-picker-panel-inner{
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 5px;
  }

.rc-time-picker-panel .rc-time-picker-input{
    font-size: 1rem;
    line-height: normal;
    font-weight: normal;
    color: #000;
    height: 2.4rem;
    width: 8rem;
    border-radius: 5px;
  }

.rc-time-picker-panel .rc-time-picker-panel-select{
    font-size: 1rem;
  }

.rc-time-picker-panel .rc-time-picker-panel-select li{
      height: 2rem;
      line-height: 2rem;
    }

.rc-time-picker-panel .rc-time-picker-panel-input{
    font-size: 1rem;
  }

.apiQueryUrl{
  cursor: pointer;
  padding: 1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  font-size: 0.8rem;
}

.apiQueryUrl input{
    -ms-flex: 1;
        flex: 1;
    margin: 0 1rem;
  }

.fa-copy:active{
  color: #00bbde;
  color: #00bbde;
}

.button-run-query{
  font-size: 1rem;
  border-radius: 0.3rem;
  background: #009ebb;
  color: #fff;
  border: 0;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 1rem 0 0;
}

.button-run-query i {
    margin-right: 0.5rem;
  }

.error{
  padding: 1rem;
  background: #ffe5e5;
  margin: 1rem 0 0;
}

.box-info{
  padding: 1rem;
  background: #f1faff;
}

.tabContent .box-info{
  margin: -1rem;
}

.preview{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #fafafa;
}

.preview .loader{
    width: 100%;
    height: 340px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    font-size: 5rem;
    color: #eee;
  }

.preview .keen-dataviz-container, .preview .react-json-view{
    width: 100%;
    height: 340px;
    background: #fff;
    overflow-y: scroll;
  }

.preview .react-json-view{
    padding: 1rem;
  }

.preview .select-chart-type-container{
    -ms-flex: 1;
        flex: 1;
    -ms-flex-order: 1;
        order: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: end;
        justify-content: flex-end;
    margin: 0.3rem;
  }

.preview .select-chart-type {
    -ms-flex: 1;
        flex: 1;
    width: 20rem;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }

.preview .button-download{
    -ms-flex-order: 0;
        order: 0;
    background: transparent;
    border: 0;
    margin: 0;
    cursor: pointer;
    font-size: 0.8rem;
  }

.preview .button-download i{
      margin-right: 0.5rem;
    }

.chartType{
  margin-top: 1rem;
}

.reload{
  position: absolute;
  left: 1rem;
  top: 1rem;
  color: #ccc;
}

.button-toggle{
  margin-left: 1rem;
  font-size: 1rem;
  border: 0;
  display: inline;
  padding: 1rem;
  cursor: pointer;
  border: 1px solid #ddd;
  background: #fafafa;
  border-radius: 0.3rem;
}

.button-toggle i {
    margin-left: 1rem;
  }

.button-toggle-active {
  background: rgb(255, 255, 255);
}

.result-string{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}